{% extends "layouts/layout.njk" %}
{% set page_title = "Dosen/Kelas Baru" %}

{% block main %}
<!--================Search Package section Start =================-->
<section class="hero-banner magic-ball">
	<div class="container">
		<div class="row align-items-center text-center text-md-left">
			<div class="col-lg-6 col-xl-5 align-self-center mb-5 mb-lg-0">
				<div class="search-content">
					<h2>Tambah Kelas<br class="d-none d-xl-block"> Informatika <br class="d-none d-xl-block"> ITS</h2>
					<p>Sebuah sistem informasi yang berguna dalam merekap absensi mahasiswa secara online</p>
					<a class="button" href="#">Learn More</a>
				</div>
			</div>
			<div class="col-lg-6 col-xl-6 offset-xl-1">
				<div class="search-wrapper">
					<h3>Data Kelas</h3>

					<form class="search-form" method="post" action="/dosen/addkelas">
		
						<div class="input-group">
							<label for="username">Dosen Pengajar</label>
							<select name="pengajar" id="pengajar">
								<option value="disabled" disabled selected>--Pengajar--</option>

								{% for dosen in results %}
								<option value="{{dosen.id_user}}">{{dosen.nama}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="form-group">
							<label for="username">Nama Kelas</label>
							<input class="form-control" type="text" name="kelas" placeholder="Nama Kelas" required>
						</div>
						<div class="form-group">
							<label for="username">Ruang Kelas</label>
							<input class="form-control" type="text" name="ruang" placeholder="Ruang Kelas" required>
						</div>
						<div class="form-group">
							<label for="username">Hari</label>
							<select name="hari" id="hari">
								<option value="disabled" disabled selected>Hari</option>
								<option value="Senin">Senin</option>
								<option value="Selasa">Selasa</option>
								<option value="Senin">Rabu</option>
								<option value="Selasa">Kamis</option>
								<option value="Senin">Jum'at</option>
							</select>
						</div>
						<div class="input-group">
							<label for="username">Waktu Mulai</label>
							<input type="time" class="form-control" name="waktu_awal">
							<div class="input-group-append">
								<span class="input-group-text"><i class="ti-notepad"></i></span>
							</div>
						</div>
						<div class="input-group">
							<label for="username">Waktu Berakhir</label>
							<input type="time" class="form-control" name="waktu_akhir">
							<div class="input-group-append">
								<span class="input-group-text"><i class="ti-notepad"></i></span>
							</div>
						</div>
						<div class="form-group">
							<button class="button border-0 mt-3" type="submit">Tambah</button>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
</section>
<!--================Search Package section End =================-->
{% endblock %}